.back-button {
  margin-left: 5px;
  cursor: pointer;
}


mat-card {
  width: 90% !important;
  margin: 10px auto !important;
}

.mat-stroked-button, .mat-raised-button {
  width: 100% !important;
}

.library-name {
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 20px;
}

.info {
  word-wrap: break-word;
  width: 100vh;
  font-size: 14px;
}

.view {
  cursor: pointer;
}

.menu-view {
  display: flex;
  margin-left: 10vh;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.mat-tab-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desc {
  display: inline flow-root list-item;
}

.visit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
}

.photo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6vh 10px 0;
  width: 40%;
}

.create-comment-form {
  width: 90%;
  margin-top: 2%;
}

.visitor-view{
  width: 100% !important;
  display: inline-block !important;
}

.example-header-image {
  background-size: cover;
  max-height: 50px;
  min-height: 50px;
  max-width: 50px;
  min-width: 50px;
  border-radius: 50%;
}

.search {
  width: 90%;
  margin-top: 2%;
}
