<div class="back-button">
  <mat-icon (click)="navigateToListView()">arrow_back_ios</mat-icon>
</div>

<div *ngIf="!isLoading; else loading">

  <div class="view">

    <mat-card>
      <mat-card-content>
        <div fxFlex="row">
          <div fxLayout="column" fxFlex="65" style="width: auto; margin-left: 10px;">
            <div fxLayoutAlign="center">
              <p class="library-name">{{eventModel.name }}</p>
            </div>
            <br>
            <div fxLayoutAlign="center">
              <img width="200px" alt="image" class="img-responsive"
                   src="../../../../assets/hero-media-illustration-dark.svg">
            </div>
          </div>
          <div fxLayout="column" fxFlex="35" style="width: auto; margin-left: 10px;">
            <div class="visit-button">
              <button mat-stroked-button color="primary" *ngIf="!showDisabledJoinButton() && !isUserAlreadyJoinedEvent()" (click)="joinEvent()">Visit</button>
              <button mat-stroked-button color="primary" *ngIf="isUserAlreadyJoinedEvent()" (click)="deleteEventFromVisited()">Do not visit</button>
              <button mat-stroked-button color="primary" disabled *ngIf="showDisabledJoinButton()">Visit</button>
            </div>
            <div class="visit-button">
              <button mat-raised-button color="primary" (click)="openMeeting()" *ngIf="isUserAlreadyJoinedEvent()" href=''>Open</button>
            </div>

            <div class="participant-count">
              <div class="visit-button">
                <p><i class="fa-solid fa-users"></i> {{eventModel.participantCount}}
                  /{{eventModel.maxNumberParticipants}}</p>
              </div>
            </div>

            <div class="event-time">
              <div class="visit-button">
                <p><i class="fa-solid fa-calendar"></i> {{eventModel.startDate | date:'fullDate'}}</p>
              </div>
            </div>

            <div class="event-time">
              <div class="visit-button">
                <p><i class="fa-solid fa-clock"></i> {{eventModel.startDate | date:'mediumTime'}}
                  - {{eventModel.endDate | date:'mediumTime'}}</p>
              </div>
            </div>
          </div>
        </div>

        <br>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="menu-view">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Info">
        <div>
          <mat-card class="desc">
            <mat-card-content>
              <div fxFlex="row">
                <div>
                  <b><p class="info">Host</p></b>
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle>{{eventModel.user.firstName}} {{eventModel.user.lastName}}</mat-card-subtitle>
                    <mat-card-subtitle>{{eventModel.user.email}}</mat-card-subtitle>
                  </mat-card-header>
                </div>
                <br>
                <div *ngIf="eventModel.meetingEntity && eventModel.meetingEntity.hostEmail">
                  <b><p class="info">Host email</p></b>
                  <p class="info">{{eventModel.meetingEntity.hostEmail}}</p>
                  <br>
                </div>
                <div *ngIf="eventModel.meetingEntity && eventModel.meetingEntity.title">
                  <b><p class="info">Title</p></b>
                  <p class="info">{{eventModel.meetingEntity.title}}</p>
                  <br>
                </div>
                <div *ngIf="eventModel.meetingEntity && eventModel.meetingEntity.start_url && isUserHost()">
                  <b><p class="info">Start Url</p></b>
                  <a class="info" (click)="startMeeting()">{{eventModel.meetingEntity.start_url | slice:0:75}}...</a>
                  <br>
                  <br>
                </div>
                <div>
                  <div fxFlex="row">
                    <b><p class="info" *ngIf="eventModel.joinUrl && isUserAlreadyJoinedEvent()">Join Url</p></b>
                    <a class="info" (click)="openMeeting()">{{eventModel.joinUrl}}</a>
                  </div>
                  <br *ngIf="!eventModel.meetingEntity">
                  <div *ngIf="eventModel.meetingEntity && eventModel.meetingEntity.password">
                    <b><p class="info" *ngIf="isUserAlreadyJoinedEvent()">Password</p></b>
                    <p class="info">{{eventModel.meetingEntity.password}}</p>
                    <br>
                  </div>
                </div>
                <div>
                  <div fxFlex="row">
                    <b><p class="info">Type</p></b>
                    <p class="info">{{eventModel.eventType | lowercase | titlecase}}</p>
                  </div>
                  <div>
                    <b><p class="info">Platform</p></b>
                    <p class="info">{{eventModel.meetingType | lowercase | titlecase}}</p>
                    <br>
                  </div>
                </div>
                <div *ngIf="eventModel.meetingEntity && eventModel.meetingEntity.agenda">
                  <b><p class="info">Agenda</p></b>
                  <p class="info">{{eventModel.meetingEntity.agenda}}</p>
                  <br>
                </div>
                <div>
                  <b><p class="info">Description</p></b>
                  <p class="info">{{eventModel.description}}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Comments">

        <div class="create-comment-form">
          <form (ngSubmit)="createComment()" [formGroup]="createCommentForm">

            <div fxLayout="column" fxLayoutAlign="center center" class="form-input">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Add a comment</mat-label>
                <input matInput type="text" id="text" class="form-control" name="text" formControlName="text">
                <mat-icon matSuffix>
                  <i class="fa-solid fa-paper-plane"> </i>
                </mat-icon>
              </mat-form-field>

            </div>

          </form>
        </div>

        <div *ngIf="!isLoading; else loading">

          <div *ngIf="comments.length>0; else empty">

            <div fxLayoutAlign="center stretch" fxLayout="column" class="view">
              <app-comment *ngFor="let result of comments"
                           [comment]="result"
                           (updateEvent)="searchComments()"
              >
              </app-comment>
            </div>

            <div class="paginator">
              <mat-paginator [pageSizeOptions]="pageSizeOptions"
                             [length]="commentsCount"
                             [pageSize]="filter.pageSize"
                             (page)="pageEvent = $event; onPaginateChange($event)">

              </mat-paginator>
            </div>
          </div>

          <ng-template #empty>
            <br>
            <br>
            <br>
            <div class="container-fluid">
              <div class="text-center mt-5">
                <p class="text-dark mb-5 lead">Empty comments list</p>
              </div>
            </div>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab label="Attendees">
        <div *ngIf="!isLoading; else loading">

          <div *ngIf="attendees.length>0; else empty">

            <div fxLayoutAlign="center stretch" fxLayout="column" class="visitor-view">
              <app-visitor *ngFor="let result of attendees"
                           [user]="result"
                           [event]="eventModel"
                           (updateEvent)="searchAttendees()"
              >
              </app-visitor>
            </div>

            <div class="paginator">
              <mat-paginator [pageSizeOptions]="pageSizeOptions"
                             [length]="attendeesCount"
                             [pageSize]="attendeesFilter.pageSize"
                             (page)="pageEvent = $event; onPaginateChange($event)">

              </mat-paginator>
            </div>
          </div>

          <ng-template #empty>
            <br>
            <br>
            <br>
            <div class="container-fluid">
              <div class="text-center mt-5">
                <p class="text-dark mb-5 lead">Empty attendees list</p>
              </div>
            </div>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
<ng-template #loading>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
