<div class="back-button">
  <mat-icon (click)="navigateToListView()">arrow_back_ios</mat-icon>
</div>

<div class="view">

  <mat-card>
    <mat-card-content>
      <div fxFlex="row" >
        <div fxLayout="column" fxFlex="100" style="width: auto; margin-left: 10px;">
          <div fxLayoutAlign="center">
            <p class="library-name">Name</p>
          </div>

          <br>

          <div fxLayoutAlign="center">
            <img width="200px" alt="image" class="img-responsive" src="../../../../assets/hero-media-illustration-dark.svg">
          </div>

          <br>

          <div fxLayoutAlign="start">
            <b> <p class="info">Description</p></b>
          </div>

          <div fxLayoutAlign="start">
            <p class="info">{{eventModel.joinUrl}}</p>
          </div>
        </div>
      </div>

      <br>
    </mat-card-content>
  </mat-card>
</div>
