<div class="login-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

    <div fxLayout="column" fxLayoutAlign="center center" class="form-input">
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>email</mat-label>
        <input matInput type="text" id="email" class="form-control" name="email" formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
        <mat-error *ngIf="submitted && f.email.errors" class="invalid-input">
          <mat-error *ngIf="f.email.errors.required">Field is required</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>password</mat-label>
        <input matInput [type]="hidePasswordField ? 'password' : 'text'" id="password" class="form-control"
               name="password"
               formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
<!--        <mat-icon matSuffix (click)="hidePasswordField = !hidePasswordField">-->
<!--          {{hidePasswordField ? 'visibility_off' : 'visibility'}}-->
<!--        </mat-icon>-->
        <mat-error *ngIf="submitted && f.password.errors" class="invalid-input">
          <mat-error *ngIf="f.password.errors.required">Field is required</mat-error>
        </mat-error>
      </mat-form-field>

    </div>

    <mat-error *ngIf="isLoginFailed" class="error-info">
      Invalid email or password
    </mat-error>

    <button mat-button>LOGIN</button>

    <div class="more-info">
      <a class="btn btn-outline-primary login" (click)="closeDialog()">Cancel</a>
    </div>

    <div class="more-info">
      <a class="register" (click)="openForgotPasswordDialog()">Forgot password</a>
    </div>

  </form>
</div>
