<div class="back-button">
  <mat-icon (click)="navigateToListView()">arrow_back_ios</mat-icon>
</div>

<div class="create-s-e-button" fxLayout="raw" fxLayoutAlign="center center">
  <button mat-stroked-button color="primary" class="create-stream" (click)="openCreateStreamView()"
          *ngIf="activeLink == links[0]">Create Stream
  </button>
</div>

<div class="create-e-button" fxLayout="raw" fxLayoutAlign="center center">
  <button mat-stroked-button color="primary" class="create-event" (click)="openCreateEventView()"
          *ngIf="activeLink == links[1]">Create Event
  </button>
  <button mat-stroked-button color="primary" class="create-event" (click)="openAddEventView()"
          *ngIf="activeLink == links[1]">Add Event
  </button>
</div>

<div class="select-events-streams">
  <nav mat-tab-nav-bar class="toolbar-buttons">
    <a mat-tab-link class="projects_button" *ngFor="let link of links"
       (click)="activeLink = link;"
       [active]="activeLink === link"> {{link.label}} </a>
  </nav>
</div>

<div *ngIf="isLoading; else content" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<ng-template #content>

  <div fxLayoutAlign="center stretch" fxLayout="column" class="view-content">
    <div class="stream-view" *ngIf="activeLink == links[0]">
      <app-stream-list></app-stream-list>
    </div>
    <div class="stream-view" *ngIf="activeLink == links[1]">
      <app-event-list></app-event-list>
    </div>
  </div>

</ng-template>

