<div *ngIf="!isLoading; else loading">

  <div *ngIf="streamList.length>0; else empty">
    <div fxLayoutAlign="center stretch" fxLayout="column" class="view">
      <app-stream-view *ngFor="let result of streamList"
                       [streamModel]="result"
                       (updateStreamEvent)="findStreamListByLibraryId()"
      >
      </app-stream-view>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"
                   [length]="streamCount"
                   [pageSize]="streamFilter.pageSize"
                   (page)="pageEvent = $event; onPaginateChange($event)">

    </mat-paginator>
  </div>

  <ng-template #empty>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="text-center mt-5">
        <p class="text-dark mb-5 lead">Empty streams list</p>
      </div>
    </div>
  </ng-template>

</div>


<ng-template #loading>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
