mat-card {
  width: 90% !important;
  margin: 10px auto !important;
}

.mat-stroked-button, .mat-raised-button {
  width: 100% !important;
}

.stream-name {
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.view {
  cursor: pointer;
}

.fa-heart {
  color: #4e73df;
  height: 80%;
}
