<div class="view">

  <mat-card>
    <mat-card-content>
      <div fxFlex="row">
        <div fxLayout="column" fxFlex="20">
          <img width="200px" alt="image" class="img-responsive"
               src="./././././././julia/IdeaProjects/diploma-work/file-system/46BD88B5-DEB4-447A-9C85-1D0E5D112377.heic">
        </div>
        <div fxLayout="column" fxFlex="95" style="width: auto; margin-left: 20px;">
          <div fxLayoutAlign="center" (click)="navigateToInfoPage()">
            <b>
              <p class="event-name" style="margin-left:50px;">{{eventModel.name}}</p>
            </b>
          </div>

          <div fxFlex="row" (click)="navigateToInfoPage()">
            <div fxLayout="column" fxFlex="60" style="width: auto; margin-left: 10px; margin-top: 10px;">

              <div class="event-time">
                <div class="visit-button">
                  <p><i class="fa-solid fa-calendar"></i> {{eventModel.startDate | date:'fullDate'}}</p>
                </div>
              </div>

              <br>

              <div fxLayout="row" style="margin-top: 10px;">
                <mat-card-subtitle>Platform:</mat-card-subtitle>
                <br>
                <p style="margin-left:10px;">   {{eventModel.meetingType | lowercase | titlecase}}</p>
              </div>
            </div>
          </div>

          <div fxFlex="row" (click)="navigateToInfoPage()">
            <div fxLayout="column" fxFlex style="margin-top: 10px; margin-left: 10px; word-break: break-all">
              <mat-card-subtitle>Description:</mat-card-subtitle>
              <br>
              <p>   {{eventModel.description | slice:0:90}}{{eventModel.description.length > 90 ? '...' : ''}}</p>
            </div>
          </div>
        </div>

        <div fxLayout="column" fxFlex="95" style="width: auto; margin-top: 43px;" (click)="navigateToInfoPage()">

          <div fxFlex="row">
            <div fxLayout="column" fxFlex style="width: auto; margin-left: 10px;">
              <div class="event-time">
                <div class="visit-button">
                  <p><i class="fa-solid fa-clock"></i> {{eventModel.startDate | date:'mediumTime'}}
                    - {{eventModel.endDate | date:'mediumTime'}}</p>
                </div>
              </div>

              <div fxLayout="row" style="margin-top: 10px;">
                <mat-card-subtitle>Type:</mat-card-subtitle>
                <br>
                <p style="margin-left:10px;">   {{eventModel.eventType | lowercase | titlecase}}</p>
              </div>

              <div fxLayout="column" style="margin-top: 10px;">
                <mat-card-subtitle>Visitors:</mat-card-subtitle>
                <br>
                <p><i class="fa-solid fa-users"></i>  {{eventModel.participantCount}}
                  /{{eventModel.maxNumberParticipants}}</p>
              </div>

            </div>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="5">
          <button mat-icon-button aria-label="delete from favorites" (click)="addToFavorites()"
                  *ngIf="!eventModel.isFavorite">
            <i class="fa-regular fa-heart"></i>
          </button>
          <button mat-icon-button aria-label="delete from favorites" (click)="deleteFromFavorites()"
                  *ngIf="eventModel.isFavorite">
            <i class="fa-solid fa-heart"></i>
          </button>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="5">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item aria-label="Update" (click)="openUpdateDialog()">
              <mat-icon>edit</mat-icon>
              <span>Update</span>
            </button>
            <button mat-menu-item aria-label="Delete" *ngIf="eventModel.streamId" (click)="deleteEventFormStream()">
              <mat-icon>delete_outline</mat-icon>
              <span>Delete from stream</span>
            </button>
            <button mat-menu-item aria-label="Delete" *ngIf="!eventModel.streamId && isLibraryContent" (click)="deleteEventFromLibrary()">
              <mat-icon>delete_outline</mat-icon>
              <span>Delete from library</span>
            </button>
            <button mat-menu-item aria-label="Delete" (click)="deleteEvent()" *ngIf="isCreator()">
              <mat-icon>delete_outline</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
