.step-info {
  width: 100%;
}

.node_text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 2%;
}

.action-list {
  padding-left: 10%;
}

.more {
  color: rgba(0, 0, 0, 0.54);
}

.info {
  word-wrap: break-word;
  width: 600px;
  font-size: 14px;
}

mat-tree {
  background-color: #efefef;;
}

mat-card {
  width: 90% !important;
  margin: 10px auto !important;
}

.mat-stroked-button, .mat-raised-button {
  width: 100% !important;
}

.library-name {
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 16px;
}

.mat-tree-node {
  display: block;
  align-items: center;
  flex: 1;
  word-wrap: break-word;
}
