.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  overflow: scroll;
}

.form-input-half {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.update-event-form {
  background-color: rgba(255, 255, 255, 0.04) !important;
  justify-content: center;
  overflow: scroll;
  max-height: 80vh;
}

.full-width-event-input {
  width: 98%;
  margin-left: 1px;
  min-width: 60vh;
}


.toggle-class {
  margin-left: 5px;
}

.full-width-event-input-half {
  margin-left: 1vh;
  min-width: 40vh;
  margin-right: 1vh;
}
