<div fxLayout="row">
  <div fxLayout="column" fxFlex="10"  class="welcome-button">
    <button mat-stroked-button color="primary" (click)="openContactUsDialog()">Contact Us</button>
  </div>
  <div fxLayout="column" fxFlex="10" fxFlexOffset="70" class="welcome-button">
    <button mat-stroked-button color="primary" (click)="openLoginDialog()">Login</button>
  </div>
  <div fxLayout="column" fxFlex="10" class="welcome-button">
    <button mat-stroked-button color="primary" (click)="openRegisterDialog()">Register</button>
  </div>
</div>

<br>
<br>

<div fxLayout="row">
  <div fxFlex="40">
    <div class="w-full">
      <div>
        <h4 class="text-xl font-semibold text-dark">
          Meeting Organizer
        </h4>
        <br>
        <br>
        <p
          class="mb-11 text-base font-medium italic text-body-color sm:text-lg"
        >
          Solutions that meet your needs today, and tomorrow
        </p>
      </div>
    </div>
  </div>

  <div fxFlex="60">
    <img alt="image" class="welcome-image" src="../../../../../assets/hero-media-illustration-dark.svg">
  </div>
</div>

