<div *ngIf="showTabs">
  <div class="create-button" *ngIf="isFindAllSelected() || isFindMySelected()">
    <button mat-stroked-button color="primary" (click)="openCreateEventView()">Create Event</button>
  </div>

  <div class="create-button" *ngIf="isFindAccessSelected()">
    <button mat-stroked-button color="primary" (click)="openAddAccessCodeDialog()">Add access</button>
  </div>

  <div class="select-events">
    <nav mat-tab-nav-bar class="toolbar-buttons">
      <a mat-tab-link class="events_button" *ngFor="let link of links"
         (click)="activeLink = link; findEvents()"
         [active]="activeLink === link"> {{link.label}} </a>
    </nav>
  </div>
</div>


<div class="search">
  <form [formGroup]="searchForm">
    <div fxLayout="column" fxLayoutAlign="center center" class="form-input">
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Search by name</mat-label>
        <input matInput type="text" id="search" class="form-control" name="search" formControlName="search"
               [ngClass]="{ 'is-invalid': submitted && f.search.errors }">
        <mat-icon matSuffix>
          <i class="fa-solid fa-search"> </i>
        </mat-icon>
      </mat-form-field>
    </div>
  </form>
</div>

<div *ngIf="!isLoading; else loading">

  <div *ngIf="eventList.length>0; else empty">

    <div fxLayoutAlign="center stretch" fxLayout="column" class="view">
      <app-event-view *ngFor="let result of eventList"
                      [eventModel]="result"
                      (updateEventEvent)="findEvents()"
      >
      </app-event-view>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"
                   [length]="eventCount"
                   [pageSize]="eventFilter.pageSize"
                   (page)="pageEvent = $event; onPaginateChange($event)">

    </mat-paginator>
  </div>

  <ng-template #empty>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="text-center mt-5">
        <p class="text-dark mb-5 lead">Empty events list</p>
      </div>
    </div>
  </ng-template>

</div>


<ng-template #loading>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
